<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts and users API</title>
</head>
<body>
    <h3>Details on posts</h3>
    <input id="input1" placeholder="Enter id of post (1 to 100)">
    <button id="button1">Click for details on any post</button>
    <button id="button2">Click for details on all posts</button>
    <table id="myTable1" style="border:1px solid black; width:95%;">
        <tr>
            <td style="border:1px solid black; text-align:center;"><b>Id</b></td>
            <td style="border:1px solid black; text-align:center;"><b>UserId</b></td>
            <td style="border:1px solid black; text-align:center;"><b>Title</b></td>
            <td style="border:1px solid black; text-align:center;"><b>Body</b></td>
        </tr>
    </table>
    <h3>Details on users</h3>
    <input id="input2" placeholder="Enter id of user (1 to 10)">
    <button id="button3">Click for details on any user</button>
    <button id="button4">Click for details on all users</button>
    <table id="myTable2" style="border:1px solid black; width:95%;">
        <tr>
            <td style="border:1px solid black; text-align:center;"><b>User id</b></td>
            <td style="border:1px solid black; text-align:center;"><b>User name</b></td>
            <td style="border:1px solid black; text-align:center;"><b>User username</b></td>
            <td style="border:1px solid black; text-align:center;"><b>User email</b></td>
            <td style="border:1px solid black; text-align:center;"><b>User phone</b></td>
            <td style="border:1px solid black; text-align:center;"><b>User website</b></td>
            <td style="border:1px solid black; text-align:center;"><b>User address</b></td>
            <td style="border:1px solid black; text-align:center;"><b>User company</b></td>
        </tr>
    </table>
    <script src="../src/t1 post and user api.js"></script>
</body>
</html>