<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factorials with recursion</title>
</head>
<body>
    <h3>Factorials with recursion</h3>
    <input id="number" placeholder="Enter a positive integer">
    <button id="calculate">Calculate factorial</button>
    <p id="resultFactorial"></p>
    <script src="../src/bonus factorial.js"></script>
</body>
</html>