<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First ten planets from Star Wars API</title>
</head>
<body>
    <h3>Info on first 10 planets of Star Wars API</h3>
    <button id="planetsSW">Get info on planets</button>
    <table id="infoPlanets" style= "border:1px solid black; width:60%;">
        <tr>
            <td style="border:1px solid black; text-align:center;"><b>Planet name</b></td>
            <td style="border:1px solid black; text-align:center;"><b>Population</b></td>
            <td style="border:1px solid black; text-align:center;"><b>Climate</b></td>
            <td style="border:1px solid black; text-align:center;"><b>Gravity</b></td>
        </tr>
    </table>
    <button id="nextPlanet">NEXT 10</button>
    <button id="previuosPlanet">PREVIOUS 10</button>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
    crossorigin="anonymous"></script>
    <script src="../src/p2starwars next.js"></script>
</body>
</html>